<div class="container">

  <div class="mav-menu">

  </div>

  <div class="catalog">

    <div *ngFor="let category of categories">
      <div>
        <div class="category-container">
          <h2>{{category.label}}</h2>
          <p class="category-text">{{category.description}}</p>
        </div>
      </div>
      <div *ngFor="let ingredient of ingredients">
        <app-ingredient [item]="ingredient"></app-ingredient>
      </div>
    </div>

  </div>

  <div class="preview">
    <div class="bg"></div>
  </div>
</div>
